// BLOCKS
@import '../assets/imports.styl'

.water-text
	font-family monospace
	font-size 8px
	fill #2a1739
	white-space nowrap
	// fill #777
	// fill white
	// fill #fff

.svg-container
	padding-bottom 67.3205033%
	position relative
	&__content
		position absolute
		rect 100%
		overflow hidden
		svg 
			rect 100%

@-moz-document url-prefix() {
	.water-text{
		font-family sans-serif
	}
}